BasedOnStyle: LLVM
Language: Cpp
UseTab: Never
TabWidth: 4
IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 0
BreakBeforeBraces: Linux
PointerAlignment: Right
ReferenceAlignment: Right
AlignAfterOpenBracket: DontAlign
AlignOperands: DontAlign
IndentCaseLabels: false
NamespaceIndentation: None
SortIncludes: Never
BinPackArguments: false
BinPackParameters: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
